@import "bourbon"
@import "sass/vars"
@import "sass/base"

//First screen styles
.wrap-mnu
	display: inline-block
	.wrap-toggle__mnu
		display: flex
		align-items: center
		.toggle-mnu
			height: 28px
			width: 38px
			display: flex
			flex-direction: column
			justify-content: center
			position: relative
			margin-right: 21px
			cursor: pointer
			.centr-line
				background-color: $accent
				height: 3px
				display: block
				position: relative
				top: 0px
				transition-duration: 0.5s
				&:after
					content: ""
					height: 3px
					background-color: $accent
					width: 38px
					display: block
					position: absolute
					top: -14px
				&:before
					content: ""
					height: 3px
					background-color: $accent
					width: 38px
					display: block
					position: absolute
					top: 14px	
		.cross
			.centr-line
				transform: rotate(135deg)
				&:before
					content: ""
					height: 3px
					background-color: $accent
					width: 38px
					display: block
					transform: rotate(270deg)
					top: 0
				&:after
					display: none	

.dark 
	background-color: #000
	height: 100%
	padding-right: 80px
	transition-duration: 0.5s
	position: absolute
	z-index: 9999

.scrolldown
	width: 70px
	height: 70px
	background-color: $accent
	position: fixed
	color: $dark-color
	left: 80px
	bottom: 80px
	text-align: center
	cursor: pointer
	transition-duration: 0.5s
	z-index: 11
	&:hover
		background-color: $dark-color
		span
			color: $accent
	span
		line-height: 70px
		font-size: 3em

header 
	background: url(../img/background.png) no-repeat
	background-size: cover
	background-position: center
	height: 100vh
	width: 100%
	// position: fixed
	
	.viewport
		position: relative
		height: 100vh
		.top-header
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			aside
				
				nav
					padding-top: 80px
					padding-left: 80px
					height: 100vh
					transition-duration: 0.5s

					span
						text-transform: uppercase
						font-size: 1.6em
						font-weight: 600
						color: #fff
					
					.wrap-logo
						position: relative
						display: inline-block
						width: 152px
						margin-left: 60px
						cursor: pointer
						vertical-align: top
						.logo
							font-size: 2.4em
							font-family: Tahoma
							font-weight: 100
							color: #fff
							margin-bottom: 100px
							letter-spacing: 2px
							span
								background-color: $accent
								font-size: inherit
								font-weight: bold
								text-transform: uppercase
								color: $dark-color
								margin-right: 2px
								padding-left: 3px

						ul
							position: absolute
							height: 0
							display: none
							left: -1500px
							&.open
								height: 100%
								display: inline-block
								text-align: left
								// display: flex
								// flex-direction: column	
								left: 0
							li	
								margin-bottom: 45px
								a
									text-transform: uppercase
									color: #fefefe
									font-size: 2em
									transition-duration: 0.5s
									&:before
										content: ""
										width: 10px
										height: 10px
										border: 3px solid $accent
										display: none
										opacity: 0
										transition-duration: 0.5s
									&:hover
										text-decoration: none
										padding-left: 20px
										&:before
											opacity: 1
											width: 10px
											display: inline-block		
											margin: 0 20px 0 -20px
							.languages
								
								ul
									margin-top: 50px
									// display: flex
									// flex-direction: row
									li
										display: inline-block
										text-transform: uppercase
										color: #fefefe
										font-size: 2em
										cursor: pointer
										transition-duration: 0.5s
										margin-right: 25px
										&:hover,&:active
											color: $accent				
										
			.side-button
				padding-right: 6.5%
				padding-top: 80px
				button
					text-transform: uppercase
					font-weight: 600
					background-color: $accent
					color: $dark-color
					width: 276px
					height: 46px
					font-size: 1.6em
					border: none
					text-align: center
					transition-duration: 1s
					span
						font-weight: 800
					&:hover
						background-color: $dark-color
						color: $accent	
						span
							color: $accent	

		.start
			max-width: 778px
			min-height: 275px
			background-color: $block-color
			position: absolute
			bottom: -20%
			right: 80px
			padding: 60px 56px 50px 43px
			transition-duration: 0.5s
			z-index: 1
			h3
				color: $accent
				font-size: 2.4em
				text-transform: uppercase
				font-weight: 500
				line-height: 1.2
				strong
					font-weight: 800		
			p
				font-size: 1.6em
				color: #fff
				font-weight: 300
				margin: 35px 0
				line-height: 1.5

			span
				font-size: 1.4em
				color: $accent		
				cursor: pointer	
				&.right-arrow	
					margin-left: 10px
					transform: rotate(270deg)
					display: inline-block				