@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.scrolldown
		visibility: hidden
	header
		height: 100%	

	.start
		margin-left: 80px	
	.start-section .blocks .projects, .start-section .blocks .team
		margin: 90px auto	0

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	
	// script[src*=js/scroll.js]	

	.scrolldown
		display: none
	
	header .viewport
		height: 100%

	header .viewport .top-header
		height: 100%	

	header .viewport .top-header aside .dark
		margin-bottom: 50px
		width: 100vw
		height: 115vh
	header .viewport .top-header aside nav.dark .wrap-logo
		margin: 0		
		width: 60%
		display: inline-block

	header
		background-size: cover
		height: 100%
		background-position: center top	

	header .viewport .top-header .side-button
		text-align: center
		padding: 0
		margin: 20px auto 120px
	header .viewport .top-header aside nav
		height: 100%

	header .viewport .top-header aside nav .wrap-logo
		width: 100px
		text-align: center
		margin: 200px 20px 0
		height: 20px

	.header-services .slider .nav-services ul li span:nth-child(2)
		display: none

	.header-home-page
		background: url(../img/background.png) center top no-repeat

	.wrapper .process,.who-we-are
		height: 100%
	.wrapper .process, .who-we-are
		flex-direction: column	
		padding-top: 140%
		width: 100%
		padding: 0
		margin-left: 0
		// margin-top: 80px
	
	.wrapper .process .side-block .block, .who-we-are .side-block .block
		width: calc(100% - 30px)
	
	.who-we-are .title-block
		margin-top: 200px

	.wrapper .process .title-block
		margin-top: 80px	

	.wrapper .process
		bottom: 380px	
	.wrapper footer
		// height: 368px	
	.wrapper footer .inner-footer .top-footer .left-side
		padding-left: 0
	.wrapper .process .text-right	
		margin-left: 10px
		text-align: left
		padding-left: 20px
	#right-block
		text-align: right
	#title-left
		order: 2
		width: 100%

	header .viewport .start
		position: relative
		width: 100vw
		padding: 60px 10px 50px
		margin: 200px auto 0
		right: 0
		bottom: -16%
	header .viewport .top-header aside nav .wrap-logo ul.open
		width: 100%		

	.web-section .services-block
		margin: 90px auto	

	.web-section, .services-form
		flex-wrap: wrap	

	.services-form .form
		margin: 30px 0	

	.connection .adress-office
		width: calc(100% - 40px)	

	.project-view .wrap-image-1 .wrap-text, .project-view .wrap-image-2 .wrap-text	
		display: none
	
	.start-section .block
		width: calc(100% - 40px)

	.project-view .wrap-image-2 .team
		display: none

	.project-view .wrap-image-1 img, .project-view .wrap-image-2 img
			max-width: 360px


	footer
		position: static
		height: 100%

	.wrapper
		position: static
	
	.wrapper footer
		position: relative
		z-index: 1	

	footer .inner-footer
		position: static
		height: 100%
		top: 0
		padding-top: 20px


	footer .inner-footer .top-footer
		flex-direction: column
	footer .inner-footer .top-footer	
		border: none		
	footer .inner-footer .bottom-footer aside
		width: 100vw
		text-align: center
	footer .inner-footer .top-footer .left-side	
		padding-left: 0
		text-align: center
	footer .inner-footer .top-footer .left-side p
		width: 100vw
		border-bottom: 4px solid $dark-color
	footer .inner-footer .top-footer .Contacts
		text-align: center
		padding-top: 20px
	footer .inner-footer .top-footer .Contacts p
		text-align: center

	footer .inner-footer .bottom-footer
		flex-direction: column
		margin-top: 70px
		padding-bottom: 30px	

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	header
		position: static	
	header .viewport .top-header .side-button
		text-align: center
	header .viewport .top-header aside nav
		height: 100%
		padding: 20px 15px 0

	header .viewport .top-header aside .dark
		height: 115vh
	
	header .top-header
		height: auto
		min-height: 210px
	.start
		margin-left: 0px
	.wrapper
		position: static
	
	.wrapper footer
		position: relative
		z-index: 1
	
	.web-section
		flex-wrap: wrap
	.web-section .services-block
		margin: 90px auto	
		width: calc(100% - 40px)

	.header-services .slider .nav-services ul .drop-list:nth-child(1) ul.sum-list
		width: 100vw
		left: 0	
	
	.header-services .slider .nav-services ul .drop-list:nth-child(2) ul.sum-list
		width: 100vw
		left: -25vw 	

	.header-services .slider .nav-services ul .drop-list:nth-child(3) ul.sum-list
		width: 100vw
		right: -25vw 		

	.header-services .slider .nav-services ul .drop-list:nth-child(4) ul.sum-list
		width: 100vw
		right: 0	

	.services-form .form .wrap-input .wrap-select select
		margin-left: 0	


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

