@import "bourbon"
@import "vars"
@import "libs"

//Custom styles here
.who-we-are
	height: 100vh
	border-bottom: 1px solid $accent
.process
	height: 100vh
footer
	height: 294px
	background-color: #FFF

@import "media"
