@import "bourbon"
@import "vars"
@import "libs"

//Custom styles here

.rotate
	transform: rotate(180deg)
.who-we-are,.process
	height: 100vh
	display: flex
	justify-content: center
	padding-top: 130px
	padding-left: 80px
	padding-right: 80px
	align-items: center
	.title-block
		margin-bottom: 46px
		
		h2
			text-transform: uppercase
			color: $accent
			font-size: 3.4em
	.side-block
		max-width: 774px	
		animation-duration: 1s	
		.block
			background-color: $block-color
			width: 100%
			min-height: 400px
			padding: 50px 60px 70px 38px
			display: inline-block
			position: relative
			.cut
				position: absolute
				border: 30px solid $accent
				width: 170px
				height: 170px
				z-index: -1
			.cut-first
				right: -30px
				top: -30px
			.cut-second
				left: -30px
				top: -30px
			
			h3
				font-size: 2.4em
				text-transform: uppercase
				color: $accent
				line-height: 1.2
				span
					color: #FFF
			p
				font-size: 1.6em
				color: #fff
				font-weight: 300
				margin: 35px 0
				line-height: 1.5
	.text-right
		text-align: right
		margin-left: 250px
	.side-title
		text-transform: uppercase
		color: #fff
		display: inline-block
		margin: 30px

		h2
			font-size: 4em
			font-weight: 700
		h3
			color: #fff
			font-size: 2.4em


.process
	height: 100vh
	display: flex
	margin-left: 30px
	justify-content: center
	padding-top: 130px
	padding-left: 80px
	padding-right: 80px
footer
	position: relative
	overflow: hidden
	height: 294px
	.inner-footer
		position: absolute
		width: 100%
		padding: 300px 80px 0
		transition-duration: 0.5s
		top: -700px
		height: 642px
		background-color: #FFF
		.top-footer
			height: 175px
			border-bottom: 4px solid $dark-color
			aside
				padding-top: 55px
				display: inline-block
			.left-side
				padding-left: 52px
				p
					font-size: 3em
					line-height: 1.4
					color: $dark-color
			.Contacts
				float: right
				text-align: right
				color: $dark-color
				h4
					font-weight: 700
					font-size: 3em
					margin-bottom: 20px
				p	
					font-size: 1.6em
					font-family: "Roboto"
					line-height: 1.2
					font-weight: 300
		.bottom-footer
			padding-top: 48px
			display: flex
			justify-content: space-between
			aside
				display: inline-block
				span
					font-size: 2em
					color: $dark-color
					font-weight: 500
			.right-side
				display: inline-block
				float: right
				font-size: 1.6em	
				font-family: "Roboto"
				font-weight: 300	
				

@import "media"
